@import "../../../../styles/colors";

.paragraph {
  position: relative;
  font-size: 12px;
  font-weight: 400;
  margin: 0 15px 20px;
}

.icon-container {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 1em;
  fill: $color-black;
}

.icon {
  position: absolute;
  left: 4px;
  width: 20px;
  height: 20px;

  &__autofill {
    top: -2px;
    left: 3px;
  }
}
