<ns-list-action-bar-container></ns-list-action-bar-container>
<GridLayout [columns]="isTablet ? '*, *' : '*'">
  <ListView [items]="secrets" class="page list-group">
    <ng-template let-item="item">
      <Label
        (tap)="onSecretWasSelected(item)"
        [text]="item.name"
        class="list-group-item"
      ></Label>
    </ng-template>
  </ListView>
  <FAB
    (tap)="addNewSecret()"
    rippleColor="#f1f1f1"
    icon="res://ic_add_white_24dp"
    class="fab-button"
  >
  </FAB>

  <ScrollView col="2" *ngIf="isTablet">
    <secret-form-container></secret-form-container>
  </ScrollView>
</GridLayout>
