<ns-action-bar-container></ns-action-bar-container>
<account-frame
  title="Change Account Password"
  submitText="Change Password"
  (onSubmit)="onSubmit()"
  [nonFieldErrors]="nonFieldErrors"
>
  <app-text-field
    #password
    autocorrect="false"
    autocapitalizationType="none"
    type="password"
    label="Current Password"
    returnKeyType="next"
    [isFormSubmitted]="form.isSubmitted"
    [ngrxFormControl]="form.controls.oldPassword"
  ></app-text-field>

  <app-text-field
    #passwordInput
    autocorrect="false"
    autocapitalizationType="none"
    type="password"
    label="New Password"
    returnKeyType="next"
    [isFormSubmitted]="form.isSubmitted"
    [ngrxFormControl]="form.controls.newPassword"
  ></app-text-field>

  <StackLayout
    class="p-b-10"
    *ngIf="form.isInvalid && form.isSubmitted && form.errors._newPassword"
  >
    <Label
      *ngIf="form.errors._newPassword.required"
      class="text-label text-label--error m-b-10"
      textWrap="true"
      text="You must have a password!"
    ></Label>
    <Label
      *ngIf="form.errors._newPassword.minLength"
      class="text-label text-label--error m-b-10"
      textWrap="true"
      text="Password must be at least {{
        form.errors._newPassword.minLength.minLength
      }} characters long!"
    ></Label>
    <Label
      *ngIf="form.errors._newPassword.hasUniqueChars"
      class="text-label text-label--error m-b-10"
      textWrap="true"
      text="Password must have more than 5 unique characters."
    ></Label>
    <Label
      *ngIf="form.errors._newPassword.notNumeric"
      class="text-label text-label--error m-b-10"
      textWrap="true"
      text="Password must not be only numbers."
    ></Label>
    <Label
      *ngIf="form.errors._password.notEqualTo"
      class="text-label text-label--error m-b-10"
      text="Password must not be email address."
      textWrap="true"
    ></Label>
    <Label
      *ngIf="form.errors._newPassword.notEqualTo"
      class="text-label text-label--error m-b-10"
      textWrap="true"
      text="New password is the same as the old password."
    ></Label>
  </StackLayout>
  <Label
    *ngIf="form.controls.newPassword.isInvalid"
    class="text-label m-b-10"
    textWrap="true"
  >
    <FormattedString>
      <Span text="Make a "></Span>
      <Span text="long" class="font-weight-bold"></Span>
      <Span text=" password. We require at least 10 characters."></Span>
    </FormattedString>
  </Label>
  <Label
    *ngIf="form.controls.newPassword.isInvalid"
    class="text-label m-b-20"
    textWrap="true"
  >
    <FormattedString>
      <Span text="A good password is also "></Span>
      <Span text="unique, memorable," class="font-weight-bold"></Span>
      <Span text=" and "></Span>
      <Span text="impersonal." class="font-weight-bold"></Span>
    </FormattedString>
  </Label>

  <Label
    *ngIf="
      !form.errors._newPassword &&
      !form.value.newPasswordConfirm &&
      form.value.showConfirm
    "
    class="text-label m-b-20"
    textWrap="true"
    text="Good! Now retype your password below to confirm what you entered."
  ></Label>
  <Label
    *ngIf="!form.errors._newPassword && !form.value.showConfirm"
    class="text-label"
    textWrap="true"
    text="Remember, Passit cannot reset a forgotten password. Consider writing it down and storing it somewhere safe."
  ></Label>

  <app-text-field
    #password
    autocorrect="false"
    autocapitalizationType="none"
    type="password"
    label="Confirm New Password"
    returnKeyType="done"
    [isFormSubmitted]="form.isSubmitted"
    [ngrxFormControl]="form.controls.newPasswordConfirm"
    (returnPress)="onSubmit()"
  ></app-text-field>

  <StackLayout
    class="p-b-10"
    *ngIf="
      form.isInvalid && form.isSubmitted && form.errors._newPasswordConfirm
    "
  >
    <Label
      *ngIf="
        form.errors._newPasswordConfirm.equalTo &&
        form.controls.showConfirm.value
      "
      class="text-label text-label--error m-b-10"
      textWrap="true"
      text="Passwords don't match."
    ></Label>
  </StackLayout>
  <progress-indicator
    [inProgress]="hasStarted"
    inProgressText="Passit is updating your password."
    [completed]="hasFinished"
    completedText="Your password has been successfully updated."
  ></progress-indicator>
</account-frame>
