<app-login-wrapper
  [isPopup]="isPopup"
  (clickLink)="goToLogin.emit()"
  linkText="Return to Login"
>
  <FlexboxLayout
    dock="bottom"
    class="auth-actions"
    flexDirection="row"
    justifyContent="space-between"
  >
    <app-button text="Log In" (tap)="onSubmit.emit()"></app-button>
  </FlexboxLayout>
  <app-text-field
    label="Verification Code"
    type="number"
    [ngrxFormControl]="form.controls.otp"
    [isFormSubmitted]="form.isSubmitted"
  ></app-text-field>
</app-login-wrapper>
